#root {
  color: white;
  font-size: 30px;
}

.fullscreen{
  position: relative;
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: linear-gradient(171deg, #121212,#181818);
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

